{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "^@/pages/(.*)$",
    "^@/styles/(.*)$",
    "^@/lib/(.*)$",
    "^@/constants/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/public/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
